.settings-container
    padding: 0 2rem
    margin-bottom: 2rem
    
.settings-info
    padding-top: 2rem
    display: flex
    
.settings-info_image    
    overflow: hidden
    border-radius: 100%
    position: relative
    display: block
    z-index: 1
    width: 100%
    height: 100%
    img
        position: absolute
        width: 100%
        left: 50%
        top: 50%
        -webkit-transform: translate(-50%,-50%)
        -ms-transform: translate(-50%,-50%)
        -o-transform: translate(-50%,-50%)
        transform: translate(-50%,-50%)
        
.settings-info_avatar
    width: 10rem
    height: 10rem
    position: relative
    button
        position: absolute
        z-index: 2
        right: -2px
        top: -2px
        border-radius: 100%
        background-color: #8c8c8c
        width: 1.7rem
        height: 1.7rem
        text-align: center
        svg
            position: absolute
            left: 50%
            top: 50%
            -webkit-transform: translate(-50%,-50%)
            -ms-transform: translate(-50%,-50%)
            -o-transform: translate(-50%,-50%)
            transform: translate(-50%,-50%)
            display: inline-block
            vertical-align: middle
            fill: #fff
            width: 0.7rem
            height: 0.7rem
            
.settings-info_name
    display: block
    margin-bottom: 1rem
    font-family: $main-font
    font-weight: $medium
    font-size: 2.4rem
            
.settings-info_balance
    padding-bottom: 1rem
    margin-bottom: 1rem
    display: block
    border-bottom: 1px solid #e7e7e7
    width: 100%
    span
        font-family: $main-font
        font-weight: $regular
        font-size: 1.4rem
        color: #757575
        margin-right: 0.5rem
    strong
        font-family: $main-font
        font-weight: $medium
        font-size: 1.8rem
        color: #000
    
.settings-info_content
    padding-left: 2.8rem
    flex-grow: 1
    
.settings-info_ico-balance
    display: inline-block
    width: 2rem
    height: 1.8rem
    svg
        fill: #a0a0a0
    &.active
        svg
            fill: #cfae5e
            
.btn-refill
    @extend .btn-standart
    border: 1px solid $green
    color: $green
    margin-bottom: 0
    cursor: pointer

.settings-title
    display: inline-block
    font-weight: $bold
    color: #000
    
.settings_title-holder
    font-family: $main-font
    font-size: 1.4rem
    p
        display: inline-block
        font-weight: $regular
    &_drop
        @extend .settings_title-holder
        display: flex
        justify-content: space-between

.settings-photos_slider
    margin-bottom: 2rem
    padding-left: 2rem
    
.settings-photos_slider-item
    display: inline-block
    border-radius: $radius
    border: 1px solid #e7e7e7
    background-color: #f6f6f6
    margin-right: 1rem
    width: 11rem
    height: 11rem
    position: relative
    cursor: pointer
    overflow: hidden
    img
        position: absolute
        z-index: 3
        width: 170%
        height: auto
        left: 50%
        top: 0%
        transform: translate(-50%,0%)
    &.empty
        border: 1px solid #e7e7e7
        background-color: #f6f6f6
        position: relative
        &:after
            content: ''
            display: block
            position: absolute
            left: 50%
            top: 50%
            transform: translate(-50%,-50%)
            width: 3.1rem
            height: 2.8rem
            background-repeat: no-repeat
            background-position: 0 0
            background-size: cover
            background-color: #d1d1d1
            -webkit-mask-image: url('../img/icons/add-photo.svg')
            mask-image: url('../img/icons/add-photo.svg')
            fill: #fff
            stroke: #fff
		
.settings-schedule_container
    margin: 2.5rem 0
        
.settings-schedule
    display: inline-block
    font-family: $main-font
    font-weight: $medium
    font-size: 1.2rem
    color: #757575
    display: flex
    justify-content: flex-start
    align-items: center
    padding: 0 1.5rem
    padding-top: 2.2rem
    border-top: 1px solid #e7e7e7
    p
        display: inline-block
        margin-right: 2rem

.btn-schedule-call
	@extend .btn-custom-mob
    
.settings-content
    margin-bottom: 3.5rem
    
.settings-drop_header-text
    font-family: $main-font
    font-weight: $medium
    font-size: 1.2rem
    color: #757575
    display: none
    
.settings-drop_row
    background-color: #f6f6f6
    border: 1px solid #e7e7e7
    border-radius: $radius
    margin-bottom: 1rem
    .settings-title_arrow
        svg
            fill: #999999
            width: 2.3rem
            height: 1.7rem
            transform: rotate(180deg)
    &.active
        .settings-title_arrow
            svg
                fill: $red
                transform: rotate(0deg)
        .settings-title.row-heading
            font-weight: $medium
            color: $red  
        .settings-drop_header-text
            display: block
        .settings_title-holder_drop
            margin-bottom: 1.3rem
        .settings-drop_content
            display: block
            border-top: 1px solid #e7e7e7
    
%settings-drop-style
    padding: 2rem 1.5rem
    
.settings-drop_header
    @extend %settings-drop-style
    text-align: left
    width: 100%
    
.settings-drop_content
    display: none
    @extend %settings-drop-style
    border-top: none
    .settings-title
        margin-bottom: 1.4rem
    
.text-star
    color: $red
    
.settings-drop_form-row
    margin-bottom: 1.5rem
    &.form-border
        padding: 2rem 0
        border-bottom: 1px solid #cdcdcd

%form-field
    display: block
    font-family: $main-font
    font-weight: $medium
    border-radius: $radius
    border: 1px solid #e7e7e7
    background-color: #fff !important
    font-size: 1.4rem
    line-height: 3.5rem
    padding: 0 1.5rem
    box-shadow: none
    background-color: #fff
    appearance: none
    
.settings_form-field
    @extend %form-field
    width: 100%
    &:nth-child(3)
        margin-top: 1rem
    
.settings_form-textarea
    @extend %form-field
    width: 100%
    resize: none
    min-height: 10rem
    padding: 1rem 1.5rem
    line-height: 1.5
    
.settings_select-row
    display: flex
    justify-content: space-between
    
%custom-select
    padding: 0
    border: none
    box-shadow: none
    background: transparent
    background-image: none
    -webkit-appearance: none
    select:focus
        outline: none
    
.custom-dorm-select,
.select-row
    width: 100%
    
.select-cover
    @extend %form-field
    height: 3.5rem
    color: #989898
    padding: 0
    position: relative
    &:after
        content: ''
        position: absolute
        right: 1rem
        top: 50%
        width: 1rem
        height: 1rem
        transform: translateY(-50%)
        background-image: url('../img/icons/arrow-down-carret.svg')
        background-repeat: no-repeat
        background-position: 0 0
        background-size: contain
        opacity: 0.5
    select
        @extend %custom-select
        height: 100%
        width: 100%
        color: #989898
        display: block
        font-family: $main-font
        font-weight: $medium
        border-radius: $radius
        font-size: 1.4rem
        line-height: 3.5rem
        padding: 0 1.5rem
        
    option
        width: 100%
    
.birth_form-select
    min-width: 6.7rem
    width: 25%
    &:last-child
        width: 35%
    
.custom_form-select
    width: 100%
    
.double_form-select
    width: 47%
    
.btn-change
    display: block
    @extend .btn-standart
    width: 100%
    border: 1px solid #cdcdcd
    background-color: transparent
    margin-top: 1rem
    margin-bottom: 0
    color: #757575
    height: 4rem
    text-align: center
    
//checkbox
.setting-checkbox_row
    display: flex
    justify-content: flex-start
    align-items: center
    input[type="checkbox"]
        margin-right: 1.4rem
    span
        display: inline-block
        color: #000
        font-family: $main-font
        font-weight: $regular
        font-size: 1.2rem
        line-height: 2
        
.settings-drop_form-row.drop-checkbox
    .control
        position: relative
        padding-left: 30px
        margin-bottom: 0.9rem
        cursor: pointer
        font-size: 18px
    .control input
        position: absolute
        z-index: -1
        opacity: 0
    .control__indicator
        position: absolute
        top: 2px
        left: 0
        height: 2rem
        width: 2rem
        background: #fff
        border-radius: $radius
        border: 1px solid #d5d5d5

    .control:hover input ~ .control__indicator,
    .control input:focus ~ .control__indicator
        background: #fff
    .control input:checked ~ .control__indicator
        background: #fff
    .control:hover input:not([disabled]):checked ~ .control__indicator,
    .control input:checked:focus ~ .control__indicator
        background: #fff
    .control input:disabled ~ .control__indicator
        background: #fff
        opacity: 0.6
        pointer-events: none
    .control__indicator:after 
        content: ''
        position: absolute
        display: none
    .control input:checked ~ .control__indicator:after 
        display: block
    .control--checkbox .control__indicator:after 
        left: 7px
        top: 3px
        width: 3px
        height: 8px
        border: solid $red
        border-width: 0 0.2rem 0.2rem 0
        transform: rotate(45deg)
    .control--checkbox input:disabled ~ .control__indicator:after 
        border-color: #7b7b7b
//checkbox end

.btn-save
    display: block
    min-height: 4rem
    width: 100%
    font-size: 1.3rem
    font-weight: $medium
    font-family: $main-font

.settings-drop_content-message
	display: block
	font-size: 1.2rem
	font-weight: $regular
	font-family: $main-font
	margin: 1rem 0
	text-align: center
	display: none
	&.success
		display: block
		color: $green
	&.error
		display: block
		color: $red

.settings-error-message
	display: block
	display: none
	font-size: 1rem
	font-weight: $regular
	font-family: $main-font
	text-align: left
	margin-top: 0.2rem
	margin-left: 1.5rem
	color: $red
	&.active
		display: block
    
    