.profile_top
	max-height: 32rem
	position: relative
	background-color: #000

.profile-slide
	height: 32rem

.profile-slide_holder
	width: 100%
	height: 100%
	overflow: hidden
	position: relative
	img
		position: absolute
		display: inline-block		
		top: 0
		left: 50%
		transform: translate(-50%,0)
		width: 100%
		max-width: 42rem
		height: auto
		margin: 0 auto

.profile-add
	position: absolute
	top: 0
	left: 2rem
	z-index: 10
	height: 3.1rem
	appearance: none
	background: none
	border: none
	border-left: 1.1rem solid $red
	border-right: 1.1rem solid $red
	border-bottom: 0.7rem solid transparent
	cursor: pointer
	span
		display: inline-block
		position: absolute
		left: 50%
		top: 50%
		transform: translate(-50%,-50%)
		width: 1.4rem
		height: 1.4rem
		svg
			fill: #fff
	&.added
		svg
			fill: #fff600

.profile-top_counter
	position: absolute
	right: 2rem
	top: 1.5rem
	color: #fff
	font-family: $main-font
	font-weight: $medium
	font-size: 1.7rem
	display: inline-block
	padding-left: 2.3rem
	background-image: url('../img/icons/ico-photos.png')
	background-repeat: no-repeat
	background-position: 0 50%
	z-index: 3
	
.profile-top_nav-wrap
	position: absolute
	bottom: 0
	right: 0
	width: 30rem
	z-index: 5

.profile-top_nav-ico
	@extend %profile-nav-icons
	display: inline-block
	width: 2rem
	height: 2rem

.profile-top_nav
	position: absolute
	left: 0
	bottom: 1.2rem
	display: flex
	align-items: center
	justify-content: center
	z-index: 5
	padding: 0 2rem
	width: 100%
	.message-header_nav-drop
		transform: translate(50%, 112%)
		right: 50%
		&:after
			top: 1px
			transform: translate(-210%, -100%);

.profile-top_nav-item
	display: inline-block
	display: flex
	justify-content: flex-start
	align-items: center
	padding: 0.3rem 1rem
	background-color: #fff
	border-radius: $radius
	box-shadow: 0 0.2rem 2rem rgba(0,0,0,.15)
	margin-right: 0.6rem
	min-height: 4rem
	cursor: pointer

.profile-top_nav-title
	display: inline-block
	font-family: $main-font
	font-weight: $medium
	font-size: 1.3rem
	text-align: center
	margin-left: 0.3rem

.btn-subnav-drop
	width: 4rem
	height: 4rem
	margin-right: 0
	svg
		width: 2rem
		height: 2rem
	&.active
		fill: $red

.profile-view_content
	padding: 2rem 2rem 3.5rem

.profile-view_info
	margin-bottom: 2.5rem

.profile-view_info-name
	display: block
	color: #000
	font-family: $slab
	font-weight: $bold
	font-size: 2.4rem
	margin-bottom: 1rem

.profile-view_info-matchmaking
	display: block
	background-image: url('../img/icons/ico-matchmaking-participant.png')
	background-repeat: no-repeat
	background-position: 0 50%
	padding-left: 2.5rem
	color: #a0a0a0
	font-family: $main-font
	font-weight: $regular
	font-size: 1.2rem
	margin-bottom: 1.3rem

.profile-view_info-indicator
	display: block
	display: flex
	justify-content: flex-start
	margin-bottom: 0.8rem

.profile-view_info-id
	display: inline-block
	color: #000
	font-family: $slab
	font-weight: $bold
	font-size: 1.6rem
	margin-right: 1rem

.profile-view_info-status
	display: flex
	justify-content: flex-start
	align-items: center
	i
		width: 1.7rem
		height: 1.7rem
		background-color: #a0a0a0
		border-radius: 100%
		display: flex
		justify-content: center
		align-items: center
		margin-right: 0.6rem
		svg
			text-align: center
			vertical-align: middle
			display: inline-block
			width: 1.1rem
			height: 1rem
			fill: #fff
	span
		display: inline-block
		color: #a0a0a0
		font-size: 1.4rem
		font-family: $main-font
		font-weight: $regular
	&.online
		i
			background-color: $red
		span
			color: $red
	span
		vertical-align: middle
		display: inline-block
		font-family: $main-font
		font-weight: $regular
		font-size: 1.2rem
	
.profile-view_location
	display: block
	font-family: $main-font
	font-weight: $regular
	font-size: 1.4rem
	color: #a0a0a0

.profile-view_tabs-nav
	display: flex
	justify-content: space-between
	border-radius: $radius
	border: 1px solid #dbdbdb
	margin-bottom: 2.5rem
	button
		display: inline-block
		font-family: $main-font
		font-weight: $regular
		color: #7f7f7f
		font-size: 1.4rem
		text-align: center
		background-color: #fff
		width: 100%
		min-height: 4rem
		border-radius: $radius
		&:first-child
			border-radius: $radius 0 0 $radius
			border-right: 1px solid #dbdbdb
	li
		width: 50%
		&.active
			button
				font-weight: $medium
				color: #000
	
.profile-view_tabs
	padding-bottom: 1.5rem
	//border-bottom: 1px solid #dbdbdb

.tabs-content_row
	display: flex
	justify-content: space-between
	margin-bottom: 1rem
	strong,
	p
		display: inline-block
		font-size: 1.4rem
		font-family: $main-font
		font-weight: $regular
	strong
		color: #000
	p
		
		color: #7f7f7f

.profile-view_description
	padding: 2.5rem 0
	
.profile-view_description-row
	margin-bottom: 2.5rem
	line-height: 1.5
	strong,
	p
		display: block
		color: #000
		font-family: $main-font
	p
		font-size: 1.4rem
		font-weight: $regular
	strong
		font-size: 1.6rem
		font-weight: $bold
		margin-bottom: 1.5rem
	
.profile-view_tabs-content
	display: none
	&.active
		display: block

.btn-ask-info
	@extend .btn-standart
	background-color: $red
	color: #fff
	margin-top: 15px
	
		
