/*Colors*/
$red: #ea4c58
$black: #000
$green: #169992
$grey: rgba(0,0,0,.3)

/*Font weight*/
$light: 300
$regular: 400
$medium: 500
$bold: 700

$main-font: 'Roboto', sans-serif
$slab: 'Roboto Slab', sans-serif

$radius: 0.6rem

.btn-custom-mob
	background-color: #ec5e68
	color: #fff
	border-radius: $radius
	font-family: $main-font
	font-weight: $medium
	line-height: 2.2em
	padding: 0 1.1em
	border: 1px solid #ec5e68
	&.reverse
		color: #ec5e68
		background-color: transparent

.btn-red
	color: $red
	border: 1px solid $red
	color: #fff
	background-color: $red
	border-radius: $radius
	&.btn-shadow
		box-shadow: 0 0.2rem 0.2rem -0.1rem rgba(0,0,0,.3)

.btn-transparent
	border-radius: $radius
	color: $red
	border: 1px solid $red
	background-color: transparent

    


	