@import 'fonts'
@import 'vars'

::-webkit-input-placeholder
  color: #999999
  opacity: 1

*:-moz-placeholder
  color: #999999
  opacity: 1

*::-moz-placeholder
  color: #999999
  opacity: 1

*:-ms-input-placeholder
  color: #999999
  opacity: 1

* 
  box-sizing: border-box
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  -ms-box-sizing: border-box
  -o-box-sizing: border-box

ul, ol
  margin: 0
  padding: 0
  list-style: none

img 
  border-style: none

h1, h2, h3, h4, h5, h6, p, figure, li
  margin: 0

html, body
  height: 100%

body 
	margin: 0
	min-width: 320px
	max-width: 768px 
	background-color: green

@import 'media'